[submodule "PCL"]
    path = external/pcl
    url = git@github.com:PointCloudLibrary/pcl.git
[submodule "libfreenect"]
    path = external/libfreenect
    url = git@github.com:OpenKinect/libfreenect.git
[submodule "external/opencv"]
    path = external/opencv
    url = https://github.com/Itseez/opencv.git
