@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /*background-image: url("../img/medusa.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

#continueButton {
  display: inline-block;
  background-color: #7EC0EA;
  box-shadow: 0px 0px 2px, 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  color: #FFF;
  border: medium none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  /*padding: 7px 0px;*/
  /*margin: 26px 5px 0px;*/
  cursor: pointer;
  top:240%;
  position: absolute;
  height: 65px;
  width: 200px; 
  margin-left: -185px;  
  left: 85%;
  text-align: center;
  font-size: 100%; 
  outline:none;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*Custum information text*/
/*
.instructions 
{
  text-align: center;
  width: 250px;
  font-size: 100%;
  font-family: Arial;
  top: 100%;
  position: fixed;
  color: #323232;
  left: 50%;
  margin-left: -130px;
}*/


.instructions
{
  top: 30%;
  left: 50%;
  margin-left: -130px;
  height: 10%;
  width: 250px;
  font-size: 100%;
  font-family: Arial;
  text-align: center;  
  position: fixed;
  color: #323232;
  left: 50%;
  margin-left: -130px; 
}
