@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("../img/medusa.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Custum start button*/
.startButton
{
  background-color: #759AE9;
  background-image: -moz-linear-gradient(center top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
  border-width: 1px;
  border-style: solid;
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(57, 140, 255, 0.8) inset;
  color: #FFF;
  padding: 7px 0px;
  text-shadow: 0px -1px 1px #1D3668;
  display: block;
  /*box-shadow: 1px 1px 10px #000000;*/
  top: 40%;
  left: 35%;
  height: 10%;
  width: 30%;
  text-align: center;
  font-size: 100%;
  position: fixed; 
  outline:none; 
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}

.startButton:active
{
  background-image: -moz-linear-gradient(center top , #6384CB 0%, #1F448F 50%, #0E3072 50%, #0D2759 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
}

.startButton:target
{
  background-image: -moz-linear-gradient(center top , #6384CB 0%, #1F448F 50%, #0E3072 50%, #0D2759 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
}

#continueButton {
  background-image: -moz-linear-gradient(center top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
  background-color: #759AE9;
  width: 152px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(57, 140, 255, 0.8) inset;
  color: #FFF;
  padding: 7px 0px;
  text-shadow: 0px -1px 1px #1D3668; 
  margin-top: 5%;
  font-size: 14px;
}

body.startButton-open .startButton
{
  top: 100%;
  overflow: hidden;
}

/*Info button*/
.infoButton
{
  background-image: -moz-linear-gradient(center top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
  background-color: #759AE9;
  border-width: 1px;
  border-style: solid;
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(57, 140, 255, 0.8) inset;
  color: #FFF;
  padding: 7px 0px;
  text-shadow: 0px -1px 1px #1D3668; 
  width: 50px;
  margin-left: 2%;
  margin-top: 2%;
}

/*Custum information menu*/
.infoMenu
{
  position: fixed;
  color: #323232;
  z-index: 20;
  background-color: #F5F5F5;
  overflow: hidden;
  top: 0;
  width: 300px;
  height: 100%;
  left: -300px;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


body.menu-open .infoMenu
{
  left: 0px;
}

.infoMenu h3 
{
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}
.infoMenu h1
{
  padding-left: 5%;
}
.infoMenu p
{
	display: block;
	font-size: 0.9em;
	font-weight: 300;
	padding-left: 5%;
  padding-right: 5%;
}

/*Custum close button in information menu*/
.closeButton 
{
  background-image: -moz-linear-gradient(center top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%);
  background-image: -webkit-linear-gradient(top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%); 
  background-color: #759AE9;
  border-width: 1px;
  border-style: solid;
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(57, 140, 255, 0.8) inset;
  color: #FFF;
  padding: 7px 0px;
  text-shadow: 0px -1px 1px #1D3668; 
  width: 50px;
  margin-left: 5%;
  margin-top: 10px;
}


/*Custum information text*/
.instructions 
{
  text-align: center;
  font-size: 100%;
  font-family: Arial;
  top: 100%;
  position: fixed;
  color: #323232;
  left: 30%;
}

body.instructions-open .instructions
{
  top: 30%;
  left: 30%;
  height: 10%;
  text-align: center;   
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}

body.instructions-open2 .instructions
{
    top: 100%;
    overflow: hidden;
}

.inProgress 
{
  text-align: center;
  font-size: 100%;
  font-family: Arial;
  top: 100%;
  position: fixed;  
}

body.inProgress-open .inProgress
{
  top: 40%;
  left: 40%;
  height: 10%;
  width: 20%;
  text-align: center;   
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}

.count h1 {
    display: block;
    top: 30%;
    left: 40%;
    height: 10%;
    width: 20%; 
    border-style:none;
    text-align: center;
    font-size: 25px;
    color: #323232; 

    position: fixed; 
    outline:none; 
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
}

.count
{
  display: block;
  top: 40%;
  left: 40%;
  height: 10%;
  width: 20%; 
  border-style:none;
  text-align: center;
  font-size: 70px;
  color: #000000;
  position: fixed; 
  outline:none; 
  color: #323232;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}


